{{ define "content" }}
<div class="main-content shop-page productdetails-page">
  <div class="product-content">
    <div class="container">
      <div class="productdetails-content">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
            <div class="product-details-view">
              <div class="box-product-view">
                <img src="images/details1.jpg" alt="" />
              </div>
              <div class="product-details-nav">
                <div
                  class="owl-carousel has-nav"
                  data-autoplay="false"
                  data-nav="true"
                  data-dots="true"
                  data-loop="true"
                  data-slidespeed="100"
                  data-margin="40"
                  data-responsive='{"0":{"items":2}, "640":{"items":3}, "768":{"items":3}, "1024":{"items":3}, "1200":{"items":3}}'
                >
                  <div class="details-item">
                    <div class="main-img">
                      <img src="images/details1.jpg" alt="" />
                    </div>
                  </div>
                  <div class="details-item">
                    <div class="main-img">
                      <img src="images/details1.jpg" alt="" />
                    </div>
                  </div>
                  <div class="details-item">
                    <div class="main-img">
                      <img src="images/details1.jpg" alt="" />
                    </div>
                  </div>
                  <div class="details-item">
                    <div class="main-img">
                      <img src="images/details1.jpg" alt="" />
                    </div>
                  </div>
                  <div class="details-item">
                    <div class="main-img">
                      <img src="images/details1.jpg" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5">
            <div class="details-info">
              <div class="product-info">
                <a class="product-name" href="#">{{ .Params.Product }} </a>
                <div class="price">
                  {{ .Params.Price }}
                </div>
                <div class="author">By: <span class="name"> Stelton</span></div>
                <div class="description">
                 {{ .Params.Description }}
                </div>
                <ul class="list-color">
                  <li><a href="#" class="yellow"></a></li>
                  <li><a href="#" class="green"></a></li>
                  <li><a href="#" class="gray current"></a></li>
                  <li><a href="#" class="black"></a></li>
                </ul>
                <div class="box-quantity">
                  <span class="text">QTY</span>
                  <span class="quantity">
                    <input type="text" placeholder="1" class="number" /><a
                      href="#"
                      ><i class="fa fa-angle-down" aria-hidden="true"></i
                    ></a>
                  </span>
                </div>
                <a href="#" class="add-to-bag">Add to CART</a>
                <div class="group-button">
                  <ul class="list-social">
                    <li>
                      <a href="#" class="add-to-wishlist"
                        ><i class="fa fa-heart" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-twitter" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-linkedin" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-vimeo" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="kt-tab-fadeeffect nav-tab-style4">
          <ul class="nav list-nav">
            <li class="active">
              <a data-animated="zoomInUp" data-toggle="pill" href="#tab2"
                >Additional Information</a
              >
            </li>
            <li>
              <a
                class="reviews"
                data-animated="rotateInDownLeft"
                data-toggle="pill"
                href="#tab3"
                >Reviews <span class="count">(0)</span></a
              >
            </li>
          </ul>
          <div class="tab-content">
            <div id="tab2" class="tab-panel active">
              <table class="additional-info">
                <tr>
                  <td>Weight:</td>
                  <td>1.05 kg</td>
                </tr>
                <tr>
                  <td>Dimensions:</td>
                  <td>100 x 37 x 100 cm</td>
                </tr>
                <tr>
                  <td>Materials:</td>
                  <td>80% cotton, 20% linen</td>
                </tr>
                <tr>
                  <td>Other Info:</td>
                  <td>American heirloom jean shorts pug seitan letterpress.</td>
                </tr>
                <tr>
                  <td>Size:</td>
                  <td>One Size, XL, L, M, S</td>
                </tr>
              </table>
            </div>
            <div id="tab3" class="tab-panel">
              <div class="review-content">
                <h3 class="title">
                  Be the first to review <i>“Theo Tea Pot”</i> (Your email
                  address will not be published. Required fields are marked)
                </h3>
                <div class="rate">
                  <span class="text">Your Rating:</span>
                  <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                  <a href="#" class="no-rate"
                    ><i class="fa fa-star-o" aria-hidden="true"></i
                  ></a>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-8">
                    <h4 class="subtitle">Your Review</h4>
                    <textarea rows="5" class="input-info input-note"></textarea>
                    <div class="row">
                      <div class="col-xs-12 col-sm-6">
                        <h4 class="subtitle">Name *</h4>
                        <input
                          type="text"
                          name="input-info"
                          class="input-info"
                        />
                      </div>
                      <div class="col-xs-12 col-sm-6">
                        <h4 class="subtitle">Email *</h4>
                        <input
                          type="text"
                          name="input-info"
                          class="input-info right-input"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <a href="#" class="submit">SUBMIT</a>
              </div>
            </div>
          </div>
        </div>
        <div class="other-product">
          <!--Other products maybe?-->
        </div>
      </div>
    </div>
  </div>
  {{ partial "newsletter.html" . }}
</div>
{{ end }}
