{{ define "content" }}
<div class="main-content shop-page productdetails-page">
  <div class="product-content">
    <div class="container">
      <div class="productdetails-content">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
            <div class="product-details-view">
              <div class="box-product-view">
                {{ if gt (len .Params.images) 0  }}
                <img src="{{ (index .Params.images 0).url }}" alt="" />
                {{ end }}
              </div>
              <div class="product-details-nav">
                <div
                  class="owl-carousel has-nav"
                  data-autoplay="false"
                  data-nav="true"
                  data-dots="true"
                  data-loop="true"
                  data-slidespeed="100"
                  data-margin="40"
                  data-responsive='{"0":{"items":2}, "640":{"items":3}, "768":{"items":3}, "1024":{"items":3}, "1200":{"items":3}}'
                >
                  {{ range.Params.images }}
                  <div class="details-item">
                    <div class="main-img">
                      <img src="{{ .url }}" alt="" />
                    </div>
                  </div>
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5">
            <div class="details-info">
              <div class="product-info">
                <a class="product-name" href="#">{{ .Params.title }} </a>
                <div class="price">
                  {{ .Params.price }}
                </div>
                <div class="author">By: <span class="name"> Stelton</span></div>
                <div class="description">
                  {{ .Params.description }}
                </div>

                <div class="box-quantity">
                  <span class="text">QTY</span>
                  <span class="quantity">
                    <input type="text" placeholder="1" class="number" /><a
                      href="#"
                      ><i class="fa fa-angle-down" aria-hidden="true"></i
                    ></a>
                  </span>
                </div>
                <a href="#" class="add-to-bag">Add to CART</a>
              </div>
            </div>
          </div>
        </div>
        <div class="other-product">
          <!--Other products maybe?-->
        </div>
      </div>
    </div>
  </div>
  {{ partial "newsletter.html" . }}
</div>
{{ end }}
