{{ define "content" }}
<div class="main-content shop-page productdetails-page">
  <div class="product-content">
    <div class="container">
      <div class="productdetails-content">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
            <div class="product-details-view">
              <div class="box-product-view" style="text-align:center">
                {{ if not (eq .Params.images nil) }}
                <img
                  src={{ partial "imgsrc.html" (dict "src" (index .Params.images 0).url  "width" 400 "height" 500) }}
                  alt="product image"
                />
                {{ end }}
              </div>
              <div class="product-details-nav">
                <div
                  class="owl-carousel has-nav"
                  data-autoplay="false"
                  data-nav="true"
                  data-dots="true"
                  data-loop="true"
                  data-slidespeed="100"
                  data-margin="40"
                  data-responsive='{"0":{"items":2}, "640":{"items":3}, "768":{"items":3}, "1024":{"items":3}, "1200":{"items":3}}'
                >
                  {{ range.Params.images }}
                  <div class="details-item">
                    <div class="main-img" >
                      <img
                        src={{ partial "imgsrc.html" (dict "src" .url "width" 400 "height" 500) }}
                        alt="product image"
                      />
                    </div>
                  </div>
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5">
            <div class="details-info">
              <div class="product-info">
                <a class="product-name" href="#"
                  >{{ .Params.title | title }}
                </a>
                <div class="price">
                  {{ .Params.price }}
                </div>
                <div class="author">
                  By:
                  <span class="name"> {{ .Params.who_made_it | title}}</span>
                </div>
                <div class="description">
                  {{ .Params.description }}
                </div>

                <div class="box-quantity">
                  <span class="text">QTY</span>
                  <span class="quantity">
                    <input type="text" placeholder="1" class="number"  id="cart-item-quantity"/><a
                      ><i class="fa fa-angle-down" aria-hidden="true"></i
                    ></a>
                  </span>
                </div>
                <a class="add-to-bag pointer" onclick="addProduct({{.Params.shop_id}}, {{.Params.slug}}, 1)">Add to CART</a>
              </div>
            </div>
          </div>
        </div>
        <div class="other-product">
          <!--Other products maybe?-->
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
