<div class="footer layout1">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-8">
                <div class="left-content">
                    <ul class="footer-links">
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Order Tracking</a></li>
                        <li><a href="#">Exchange & Returns</a></li>
                    </ul>
                    <div class="coppy-right">
                        <p class="content">© Powered by <span>Kutetheme.</span></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-4">
                <div class="right-content">
                    <ul class="list-social">
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>