<div class="header layout7 home10">
<div class="menu-mobile"></div>
<div class="main-header">
    <div class="sticky-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-9 col-md-2 col-lg-2">
                    <div class="logo">
                        <a href="{{ .Site.BaseURL }}"><img src="images/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-2 col-md-8 col-lg-8 left-content">
                    <div class="header-nav parent-content main-menu-wapper">
                        <a href="#" class="show-menu"><i class="fa fa-bars" aria-hidden="true"></i></a>
                        <div class="header-nav-inner left container-wapper ">
                            <ul class="main-menu">
                                <li class="menu-item">
                                    <a href="{{ .Site.BaseURL }}">Home</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-1 col-md-2 col-lg-2 right-content">
                    <div class="mini-cart">
                        <a href="" class="cart-icon"><span class="topbar-icon"><i class="fa fa-shopping-basket"
                                    aria-hidden="true"></i></span><span class="count">2</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>