<div class="newsletter">
    <div class="container">
        <div class="qt-newsletter layout1">
            <h3 class="main-title title">Newsletter</h3>
            <p class="description">Sign up our newsletter to receive updates from our store, promotions, and events
                upcoming.</p>
            <div class="main-newsletter">
                <input type="text" class="email input-email" placeholder="Email address">
                <a href="#" class="sign-up button">SIGN UP</a>
            </div>
        </div>
    </div>
</div>